* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 20px;
  background-color: #e6e9f2;
  font-family: sans-serif;
}
.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('ocean.jpeg');
}

.bottom {
  display: flex;
  flex-direction: column;
  border: 2px solid blue;
}

.add {
  display: flex;
  justify-content: center;
  border: 2px solid red;
  margin: 10px;
  padding: 10pxl
}

.container {
  display: flex;
  justify-content: space-between;
  border: 2px solid green;
  margin: 10px;
  padding: 10px;
}

.expenses__categories {
  display: flex;
  justify-content: space-evenly;
  border: 2px solid yellow;
  width: 100%;
  margin: 10px;
  padding: 10px;
}

.item__delete--btn {
  font-size: 22px;
  cursor: pointer;
}
